<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <!-- All Unit Test -->
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <!-- All Feature Test -->
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <!-- All Feature Single Tests -->
        <testsuite name="Authentication">
            <directory suffix="Test.php">./tests/Feature/Authentication</directory>
        </testsuite>
        <testsuite name="Cart">
            <directory suffix="Test.php">./tests/Feature/Cart</directory>
        </testsuite>
        <testsuite name="Category">
            <directory suffix="Test.php">./tests/Feature/Category</directory>
        </testsuite>
        <testsuite name="Checkout">
            <directory suffix="Test.php">./tests/Feature/Checkout</directory>
        </testsuite>
        <testsuite name="Dashboard">
            <directory suffix="Test.php">./tests/Feature/Dashboard</directory>
        </testsuite>
        <testsuite name="Favorite">
            <directory suffix="Test.php">./tests/Feature/Favorite</directory>
        </testsuite>
        <testsuite name="Order">
            <directory suffix="Test.php">./tests/Feature/Order</directory>
        </testsuite>
        <testsuite name="Product">
            <directory suffix="Test.php">./tests/Feature/Product</directory>
        </testsuite>
        <testsuite name="User">
            <directory suffix="Test.php">./tests/Feature/User</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value=":memory:"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
